* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #333;
}

.road {
  width: 500px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.left {
  background: white;
  height: 100vh;
  width: 15px;
}

.right {
  background: white;
  height: 100vh;
  width: 15px;
}

.middle {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: line;
  animation-duration: 4s;
  animation-iteration-count: inherit;
  animation-timing-function: linear;
}

.middle > span {
  display: block;
  width: 15px;
  height: 70px;
  background: white;
}

.car {
  font-size: 180px;
  position: absolute;
  bottom: 0;
}

@keyframes line {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.car--right {
  right: -1%;
}
