* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.car {
  transition: 0.2s ease ;
  font-size: 80px;
  position: absolute;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}
