* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.doira {
  background: red;
  width: 100px;
  height: 100px;
  border-radius: 360px;
  transition: all 0.4s linear;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
